# Étape d'importation

## Importation des modules et extensions.

In [4]:
import numpy as np 
import pandas as pd 
# ces importations nous permettent d'effectuer avec plus de facilité des opérations dans les matrices.

## Importations des fichiers .csv à modifier.

In [5]:
data_population = pd.read_csv("population.csv")

In [6]:
data_sous_nutrition = pd.read_csv("sous_nutrition.csv")

In [7]:
data_aide_alim = pd.read_csv("aide_alimentaire.csv")

In [8]:
data_dispo_alim = pd.read_csv("dispo_alimentaire.csv")

# Traitement du fichier population.csv

## Fichier population

In [9]:
data_population # affichage du fichier csv

             Zone  Année     Valeur
0     Afghanistan   2013  32269.589
1     Afghanistan   2014  33370.794
2     Afghanistan   2015  34413.603
3     Afghanistan   2016  35383.032
4     Afghanistan   2017  36296.113
...           ...    ...        ...
1411     Zimbabwe   2014  13586.707
1412     Zimbabwe   2015  13814.629
1413     Zimbabwe   2016  14030.331
1414     Zimbabwe   2017  14236.595
1415     Zimbabwe   2018  14438.802

[1416 rows x 3 columns]

In [10]:
data_population.Valeur.unique() 
# cette fonction permet de vérifier toutes les valeurs uniques dans une colonne. 
# On peut repérer les NaN (Not a Number) et les valeurs étranges (exemple comportant des '>', '<', '=', etc)

array([32269.589, 33370.794, 34413.603, ..., 14030.331, 14236.595,
       14438.802])

In [11]:
# notre résultat nous indique qu'il n'y a que des nombres décimaux, donc pas de problèmes !
# On réitère l'opération pour chaque colonnes.

In [12]:
data_population.Année.unique()

array([2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [13]:
data_population.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Anguilla', 'Antigua-et-Barbuda',
       'Antilles néerlandaises (ex)', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Aruba', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)',
       'Bonaire, Saint-Eustache et Saba', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Curaçao', 'Danemark', 'Djibouti', 'Dominique', 'Égypte',
       'El Salvador', 'Émirats arabes unis', 'Équateur', 'Érythrée',
       'Espagne', 'Estonie', 'Eswatini', "États-Unis d'Amérique",
       'Éthiopie', 'Fédération de Russie', 'Fidji', 'Finlande', 'France',
       'Gabon', 'Gambie', 'Géorgie', 'Ghana', 'Gibraltar', 'Grèce',
       'Grenade', 'Groenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinée', 'Guinée équatoriale', 'Guinée-Bissau', 'Guyana',
       'Guyane française', 'Haïti', 'Honduras', 'Hongrie', 'Île de Man',
       'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Salomon', 'Îles Turques-et-Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis-et-Futuna', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Liechtenstein',
       'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar',
       'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc',
       'Martinique', 'Maurice', 'Mauritanie', 'Mayotte', 'Mexique',
       'Micronésie (États fédérés de)', 'Monaco', 'Mongolie',
       'Monténégro', 'Montserrat', 'Mozambique', 'Myanmar', 'Namibie',
       'Nauru', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Nioué',
       'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman',
       'Ouganda', 'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Porto Rico', 'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Réunion', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Sainte-Lucie',
       'Saint-Kitts-et-Nevis', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Saint-Vincent-et-les Grenadines', 'Samoa',
       'Samoa américaines', 'Sao Tomé-et-Principe', 'Sénégal', 'Serbie',
       'Seychelles', 'Sierra Leone', 'Singapour',
       'Sint Maarten  (partie néerlandaise)', 'Slovaquie', 'Slovénie',
       'Somalie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga',
       'Trinité-et-Tobago', 'Tunisie', 'Turkménistan', 'Turquie',
       'Tuvalu', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [14]:
data_population["Valeur"] = data_population["Valeur"]/1000
# nous changeons l'unité de "Valeur" en millions par souci de cohérence avec un autre fichier .csv.

In [15]:
data_population #vérification ... tout est en ordre !

             Zone  Année     Valeur
0     Afghanistan   2013  32.269589
1     Afghanistan   2014  33.370794
2     Afghanistan   2015  34.413603
3     Afghanistan   2016  35.383032
4     Afghanistan   2017  36.296113
...           ...    ...        ...
1411     Zimbabwe   2014  13.586707
1412     Zimbabwe   2015  13.814629
1413     Zimbabwe   2016  14.030331
1414     Zimbabwe   2017  14.236595
1415     Zimbabwe   2018  14.438802

[1416 rows x 3 columns]

In [16]:
data_population.to_csv("data_pop2.csv", index=False) # enregistrement au format .csv notre travail.

## Fichier sous-nutrition

In [17]:
data_sous_nutrition = pd.read_csv("sous_nutrition.csv")

In [18]:
data_sous_nutrition

             Zone      Année Valeur
0     Afghanistan  2012-2014    8.6
1     Afghanistan  2013-2015    8.8
2     Afghanistan  2014-2016    8.9
3     Afghanistan  2015-2017    9.7
4     Afghanistan  2016-2018   10.5
...           ...        ...    ...
1213     Zimbabwe  2013-2015    NaN
1214     Zimbabwe  2014-2016    NaN
1215     Zimbabwe  2015-2017    NaN
1216     Zimbabwe  2016-2018    NaN
1217     Zimbabwe  2017-2019    NaN

[1218 rows x 3 columns]

In [19]:
data_sous_nutrition.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite',
       'Argentine', 'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Érythrée', 'Espagne',
       'Estonie', 'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Groenland',
       'Guatemala', 'Guinée', 'Guinée équatoriale', 'Guinée-Bissau',
       'Guyana', 'Haïti', 'Honduras', 'Hongrie', 'Îles Cook',
       'Îles Marshall', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Nioué', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine', 'Panama',
       'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas', 'Pérou',
       'Philippines', 'Pologne', 'Polynésie française', 'Porto Rico',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Samoa américaines',
       'Sao Tomé-et-Principe', 'Sénégal', 'Serbie', 'Seychelles',
       'Sierra Leone', 'Singapour', 'Slovaquie', 'Slovénie', 'Somalie',
       'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède', 'Suisse',
       'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga', 'Trinité-et-Tobago',
       'Tunisie', 'Turkménistan', 'Turquie', 'Tuvalu', 'Ukraine',
       'Uruguay', 'Vanuatu', 'Venezuela (République bolivarienne du)',
       'Viet Nam', 'Yémen', 'Zambie', 'Zimbabwe'], dtype=object)

In [20]:
data_sous_nutrition.Année.unique()

array(['2012-2014', '2013-2015', '2014-2016', '2015-2017', '2016-2018',
       '2017-2019'], dtype=object)

In [21]:
data_sous_nutrition.Valeur.unique()
# Nous avons 3 choses qui posent problème, les valeurs NaN, le symbole '<' et le type de donnée qui est un objet.

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', nan, '7.6', '6.2', '5.3',
       '5.6', '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '<0.1', '21.7',
       '22.4', '23.3', '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8',
       '0.4', '0.5', '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1',
       '2.3', '2.4', '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8',
       '4.6', '4.9', '5', '4.4', '4.3', '4.2', '4.5', '26.2', '24.3',
       '21.3', '21.1', '2.9', '5.1', '5.2', '5.4', '203.8', '198.3',
       '193.1', '190.9', '190.1', '189.2', '23.6', '24', '24.1', '3.7',
       '7.3', '7.8', '8.4', '9', '9.1', '10.1', '10', '10.7', '11.5',
       '11.9', '11.8', '8.7', '10.3', '11', '1', '5.5', '6.8', '7.9',
       '5.9', '7', '9.2', '9.4', '9.6', '6.7', '7.1', '7.2', '14.7',
       '17.4', '20.2', '22.2', '22.8', '24.6', '31.1', '28.5', '25.4',
       '24.8', '26.1', '14.5', '15.4', '16.5', '15.8', '15.7', '10.8',
       '11.2', '11.6', '12', '12.2', '13.5', '13.2', '12.8', '13', '13.4',
       '14.1', '4.1', '6.1', '6', '6.5', '2.6', '8', '8.3'], dtype=object)

In [22]:
data_sous_nutrition.dropna()
# Fonction permettant d'enlever toutes les valeurs NaN de notre tableau.
# On peut le faire ici car la colonne Valeur est très importante et le reste des lignes n'est pas utilisable sans elle.

             Zone      Année Valeur
0     Afghanistan  2012-2014    8.6
1     Afghanistan  2013-2015    8.8
2     Afghanistan  2014-2016    8.9
3     Afghanistan  2015-2017    9.7
4     Afghanistan  2016-2018   10.5
...           ...        ...    ...
1195     Viet Nam  2013-2015    8.3
1196     Viet Nam  2014-2016    7.6
1197     Viet Nam  2015-2017    7.1
1198     Viet Nam  2016-2018    6.5
1199     Viet Nam  2017-2019    6.1

[624 rows x 3 columns]

In [23]:
data_sous_nutrition = data_sous_nutrition.dropna()

In [24]:
data_sous_nutrition = data_sous_nutrition[data_sous_nutrition.Valeur != '<0.1']
#On enlève cces valeurs car nos populations correspondantes sont inférieures à 100 000 habitants.

In [25]:
data_sous_nutrition.Valeur.unique() #vérification, on a bien que des nombres décimaux qui sont proposés.

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', '7.6', '6.2', '5.3', '5.6',
       '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '21.7', '22.4', '23.3',
       '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8', '0.4', '0.5',
       '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1', '2.3', '2.4',
       '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8', '4.6', '4.9', '5',
       '4.4', '4.3', '4.2', '4.5', '26.2', '24.3', '21.3', '21.1', '2.9',
       '5.1', '5.2', '5.4', '203.8', '198.3', '193.1', '190.9', '190.1',
       '189.2', '23.6', '24', '24.1', '3.7', '7.3', '7.8', '8.4', '9',
       '9.1', '10.1', '10', '10.7', '11.5', '11.9', '11.8', '8.7', '10.3',
       '11', '1', '5.5', '6.8', '7.9', '5.9', '7', '9.2', '9.4', '9.6',
       '6.7', '7.1', '7.2', '14.7', '17.4', '20.2', '22.2', '22.8',
       '24.6', '31.1', '28.5', '25.4', '24.8', '26.1', '14.5', '15.4',
       '16.5', '15.8', '15.7', '10.8', '11.2', '11.6', '12', '12.2',
       '13.5', '13.2', '12.8', '13', '13.4', '14.1', '4.1', '6.1', '6',
       '6.5', '2.6', '8', '8.3'], dtype=object)

In [26]:
# Nous réitérons la même opération pour les années.

In [27]:
data_sous_nutrition['Année'] = data_sous_nutrition['Année'].map({'2012-2014': '2013', '2013-2015': '2014', 
                                                                 '2014-2016': '2015', '2015-2017': '2016', 
                                                                 '2016-2018': '2017', '2017-2019': '2018'})
# Cela nous permet d'inscrire les années médianes, pour faciliter les calculs en joignant les tableaux.

In [28]:
data_sous_nutrition #vérification

             Zone Année Valeur
0     Afghanistan  2013    8.6
1     Afghanistan  2014    8.8
2     Afghanistan  2015    8.9
3     Afghanistan  2016    9.7
4     Afghanistan  2017   10.5
...           ...   ...    ...
1195     Viet Nam  2014    8.3
1196     Viet Nam  2015    7.6
1197     Viet Nam  2016    7.1
1198     Viet Nam  2017    6.5
1199     Viet Nam  2018    6.1

[504 rows x 3 columns]

In [29]:
data_sous_nutrition.to_csv("sous_nut2.csv", index=False)

## Fichier aide alimentaire.

In [30]:
data_aide_alim

     Pays bénéficiaire  Année                   Produit  Valeur
0          Afghanistan   2013       Autres non-céréales     682
1          Afghanistan   2014       Autres non-céréales     335
2          Afghanistan   2013              Blé et Farin   39224
3          Afghanistan   2014              Blé et Farin   15160
4          Afghanistan   2013                  Céréales   40504
...                ...    ...                       ...     ...
1470          Zimbabwe   2015  Mélanges et préparations      96
1471          Zimbabwe   2013              Non-céréales    5022
1472          Zimbabwe   2014              Non-céréales    2310
1473          Zimbabwe   2015              Non-céréales     306
1474          Zimbabwe   2013                Riz, total      64

[1475 rows x 4 columns]

In [31]:
data_aide_alim.Valeur.unique()

array([  682,   335, 39224, ...,    96,  5022,  2310], dtype=int64)

In [32]:
data_aide_alim.Produit.unique()

array(['Autres non-céréales', 'Blé et Farin', 'Céréales',
       'Fruits secs, total', 'Huiles végétales',
       'Légumineuses Sèches,Tot.', 'Non-céréales', 'Riz, total',
       'Sucre, total', 'Céréales Secondaires', 'Lait, total',
       'Mélanges et préparations', 'Poiss&produi', 'BulgurFarEnt',
       'Viande Total', 'Graisses Com'], dtype=object)

In [33]:
data_aide_alim.Année.unique()

array([2013, 2014, 2015, 2016], dtype=int64)

In [34]:
data_aide_alim = data_aide_alim.rename(columns={"Pays bénéficiaire" : "Zone"})
# Nous la renommons au cas où nous avons besoin de faire des croisements avec d'autres tableaux.

In [35]:
data_aide_alim["Valeur"] = data_aide_alim["Valeur"]/1000
# Afin d'avoir les même unités que le fichier "disponibilité alimentaire", à savoir en milliers de tonnes.

In [36]:
data_aide_alim['Année'] = data_aide_alim['Année'].astype(object)
# Nous changeons le type de données pour qu'il soit de type objet, afin de ne  pas le considérer comme un nombre.

In [37]:
data_aide_alim # vérification

             Zone Année                   Produit  Valeur
0     Afghanistan  2013       Autres non-céréales   0.682
1     Afghanistan  2014       Autres non-céréales   0.335
2     Afghanistan  2013              Blé et Farin  39.224
3     Afghanistan  2014              Blé et Farin  15.160
4     Afghanistan  2013                  Céréales  40.504
...           ...   ...                       ...     ...
1470     Zimbabwe  2015  Mélanges et préparations   0.096
1471     Zimbabwe  2013              Non-céréales   5.022
1472     Zimbabwe  2014              Non-céréales   2.310
1473     Zimbabwe  2015              Non-céréales   0.306
1474     Zimbabwe  2013                Riz, total   0.064

[1475 rows x 4 columns]

In [38]:
data_aide_alim.to_csv("aide_alim2.csv", index=False)

## Fichier disponibilité alimentaire

In [39]:
data_dispo_alim

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,NaN,NaN,45.0,4.70,4.28,1.41,3.0,NaN,0.0,3.0,NaN,2.0,NaN,NaN,NaN
15601,Îles Salomon,Viande de Volailles,animale,NaN,NaN,11.0,3.34,0.69,1.14,2.0,NaN,2.0,2.0,NaN,0.0,NaN,NaN,NaN
15602,Îles Salomon,"Viande, Autre",animale,NaN,NaN,0.0,0.06,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15603,Îles Salomon,Vin,vegetale,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15604,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [40]:
# Comme on peut le voir, on a beaucoup de valeurs NaN, cependant il y a des valeurs qui ne sont pas nulles sur d'autres lignes.
# On va faire le choix de remplir ces valeurs NaN, car les supprimer nous ferait perdre trop de données utilisables.

In [41]:
data_dispo_alim.fillna(0) #la fonction 'fillna' nous permet de remplir les NaN par la valeur que l'on souhaite.

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,4.70,4.28,1.41,3.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0
15601,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,3.34,0.69,1.14,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
15602,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.06,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.07,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
data_dispo_alim = data_dispo_alim.fillna(0)

In [43]:
# On continue d'effectuer les opérations pour voir les valeurs uniques, je ne les affiche pas pour éviter la répétition.

In [44]:
data_dispo_alim

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,4.70,4.28,1.41,3.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0
15601,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,3.34,0.69,1.14,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
15602,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.06,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.07,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
data_dispo_alim["Disponibilité alimentaire en quantité (kg/personne/an)"]*1000/365
# On cherche à avoir les même unités que pour les autres colonnes de Disponibilité alimentaire.
# On multiplie par 1000 pour convertir en g et on divise par 365 pour convertir en jour.

0         4.712329
1         3.534247
2         0.164384
3         0.000000
4         7.397260
           ...
15600    12.876712
15601     9.150685
15602     0.164384
15603     0.191781
15604     1.315068
Name: Disponibilité alimentaire en quantité (kg/personne/an), Length: 15605, dtype: float64

In [46]:
data_dispo_alim["Disponibilité alimentaire en quantité (kg/personne/an)"] = data_dispo_alim["Disponibilité alimentaire en quantité (kg/personne/an)"]*1000/365

In [47]:
data_dispo_alim = data_dispo_alim.rename(columns={"Disponibilité alimentaire en quantité (kg/personne/an)" : "Disponibilité alimentaire en quantité (g/personne/jour)"})
# On les renomme pour être en accord avec les nouvelles unités.

In [48]:
data_dispo_alim #vérification

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,4.712329,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,3.534247,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.164384,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,7.397260,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,12.876712,4.28,1.41,3.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0
15601,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,9.150685,0.69,1.14,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
15602,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.164384,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.191781,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,1.315068,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
data_dispo_alim.to_csv("dispo_alim2.csv", index=False)

Nos fichiers sont fin prêts, nous allons pouvoir passer à la partie analyse dans un deuxième notebook.